.CartPopUpContainer{
  max-width: 400px;
  overflow: hidden;
  transform-origin: top right;
  transform: scale(0);
  transition: transform 0.5s ease 0s;
}

.CartPopUpContainer.active{
  transform: scale(1);
  transition: transform 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
